body {
    font-family: Arial,Helvetica,sans-serif;
    color: #808080;
    background-color: #10ac84;
}

main {
    width: 500px;
    margin:50px auto;
    text-align: center; 
    background-color: #ffffff;
    padding: 30px 50px; 
    border-radius:5px;
}

#todo-list{
    list-style: none;
    padding:0px;
    margin-top:40px;
}

#main-title{
    color:#10ac84;
}

input[type="text"] {
    width:100%;
    border:2px solid black ;
    padding:10px;
    box-sizing: border-box;
    border-radius:5px;
}

.todo-item {
    display:flex;
    justify-content:space-between;
    margin-bottom: 20px;
    align-items: center;
}

.todo-item span {
    flex-grow: 1;
    text-align:left;
    margin-left:10px;
}

input[type=checkbox]{
    display: none;
}

.tick {
    border:3px solid  #808080;
    width:30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.tick::before{
    content:"\2713";
    color:#10ac84;
    display:none;
}

.done .tick::before{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100% ;
}

.done span {
    text-decoration: line-through;
}

.todo-item button {
    background-color:transparent;
    border:none;
    outline:none;
    cursor:pointer;
}

button img{
    width:30px;
    height:30px;
    pointer-events: none;
}